/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 jun. 2020, 11:50:53
    Author     : aleja
*/
h1 {
        font-size: 40px;
        font-family: Montserrat;
        color: #1C1199;
        margin-top:40px;
        margin-bottom: 40px;
    }
    
.content
{
    max-width: 1300px; /*Largeur du conteneur */
    width:100%;
    height:auto; /*s'adapte au contenu */  
    padding:20px;	
    background:#A8EDDB;
    margin: 0;
    display: row;
    margin-bottom: 20px;
    align-items: center;
}
.content before,
.content after
{
    content: "";
    display: block;
    clear:both;
}
article.item 
{
    padding: 0.3%;
    width: 310px;
    height: 530px;
    margin: 0 5px 5px 0;
    float: left;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    transition: box-shadow 2s,transform 500ms, filter 500ms ease-in-out;
    border-radius: 6px;
  }
 article.item:hover
 {
transform: scale(1.05);
box-shadow: 3px 3px 10px rgba(0,0,0,0.6);
} 

article.blur
{
filter: blur(2px);
transform: scale(0.95);
}
article.item img 
{
    width: 99%;
    height: 520px;
    border-radius: 6px;
    
}
#fullimage img{
    display: flex;
     width: 100%;
}
#fullimage :hover
{
     filter: blur(2px);
     
}
.popup
{
    width:100%;
    height: auto;
    position:absolute;
    background: rgba(0,0,0,0.9);
    top:0;
    left: 0;
    display:flex;  
    animation: popup 3s 2s forwards;
     visibility: hidden;
    opacity: 0;
}
.contenue
{
    margin-left: 300px;
    margin-top:150px;
    margin-bottom: 150px;
    border-radius: 60px;
}
.contenue img
{
    width: 800px;
    height: 800px;
    border-radius: 6px;
}
#fermer
{
    display:none;
}
#fermer + label
{
   position:absolute; 
   color: white;
   font-size:20px;
   z-index:50;
   background: #1C1199;
   height: 30px;
   width: 30px;
   line-height: 40px;
   border-radius: 50%;
   text-align: center;
   top:140px;
   right: 230px;
   cursor:pointer;
   animation: popup 3s 2s forwards;
   visibility: hidden;
   opacity: 0;
 
}

#fermer:checked+label,#fermer:checked~.popup
{
 
    display:none;
}
@keyframes popup
{
    100%{
         visibility: visible;
         opacity: 1;
    }
}
.aboutus
{
    max-width: 1300px; /*Largeur du conteneur */
    width:100%;
    height:auto; /*s'adapte au contenu */  
    padding:20px;	
    background:#C5E3ED;
    margin: 0;
    display: row;
    margin-bottom: 80px;
    align-items: center;
}
.section
{
    max-width: 1300px; /*Largeur du conteneur */
    width:100%;
    height:auto; /*s'adapte au contenu */  
    padding:20px;	
    background:white;
    opacity:1;
    margin: 0;
    display: flex;
    flex-direction:column;
    margin-bottom: 20px;
    text-align: justify;
  
}

.section img
{
    width: 450px;
    height: 200px;
    position: absolute;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: inherit;
}

.section img:hover
{
    border-radius:100%;
    float: left;
    box-shadow: inset 0 0 0 16px rgba(100,200,200,0.8),
		0 1px 2px rgba(0,0,0,0.7);
	transition: all 0.4s ease-in-out;
}

.section h2
{
    
        font-size: 35px;
        font-family: Montserrat;
        color: #1C1199;
        margin-top:40px;
        text-align: center;
        margin-left: 500px;
            
    
}
.section p
{
        font-size: 22px;
        font-family: Arial;
        color: #244B66;
        padding-top: 16px;
        margin-left: 500px;
}

.section h3
{
        font-size: 45px;
        font-family: DK Lemon Yellow Sun;
        color: #25417D;
        margin-top:10px;
        margin-bottom: 20px;
        text-align: center;
        margin-left: 500px;
}

@media screen and (max-width:576px)
{
    article.item 
{
    padding: 0.3%;
    width: 100%;
    height: 530px;
    margin: 0 0.3% 0.3% 0;
    float: left;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.4);
    transition: box-shadow 2s,transform 500ms, filter 500ms ease-in-out;
    border-radius: 6px;
  }
  
  
}


