/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3 jun. 2020, 9:19:02
    Author     : aleja
*/

body {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    width: 100%; /* La page occupe toute la largeur */
    padding-left:2%;
    padding-right:2%;

}

#carto h1
{
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    text-decoration: underline;
    color: blue;
    margin-top:5%;
    margin-left: 50%;
}

#carto 
{
    background-color: white;
    width: 1300px;
    margin-left: 5px;
    margin-right:  5px;
}

#carto img
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    width: 50%;
    margin-left:25%;
    border-radius: 10%;
}



#page{
    background:#A8EDDB;
    width:100%;
     box-shadow: 1px 1px 30px rgba(0,0,0,0.4);
  
}

#titre{
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    text-decoration: underline;
    color: #1C1199;
    margin-top:0;
    margin-left:0;
}

#contact div{
    justify-content: center;
    margin:5px;
    color:black;
    flex-direction: row; 
    width:100%;
    font-size:17px;
    font-family: Montserrat;
    
}
#contact 
{
    display: flex;
    justify-content: center;
    margin:5px;
    color:black;
    flex-direction: column; 
    font-size: 25px;
    background-color: aliceblue;
    
}
#contact h1
{
    text-align: center;
    font-size: 30px;
    background-color: bisque;
}
#info {
    margin:1px;
}

#carto h1{
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    text-decoration: underline;
    color: #1C1199;
    margin-top:0;
    margin-left:0;
}
label
{
  padding: 12px 12px 12px 0;
  overflow:hidden;
  display: flex;
  width: 50%;
  margin-left:25%;
  font-family:Montserrat;
  text-align: left;
  font-size: 18px;
  
}
span
{
   display: flex;
  width: 50%;
  margin-left:25%;
  font-family:Montserrat;
  font-size: 18px;
}


input[type=text],textarea{
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  width: 50%;
  margin-left:25%;
  font-family: Montserrat;
}
input[type=email]
{
    margin-left:25%;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 6px;
    padding: 12px;
    font-family: Montserrat;
    
}
input[type=date]
{
    margin-left:25%;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 6px;
    padding: 12px;
    
}

input[type=radio]
{
    margin-left:25%;
    border: 1px solid #ccc;
    width: 50%;
    border-radius: 6px;
    padding: 12px;
    
}
#comment
{
 font-family: Montserrat;
}
#daterdv
{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    width: 50%;
    margin-left:25%;
    font-family: Montserrat;
}
#btn_envoyer
{
    font-size: 20px;
    height: 50px;
    background-color:cadetblue;
    border-bottom-color: aliceblue;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: Montserrat;
    padding: 12px;   
    color: aliceblue;
    margin-left: 600px;
    
}
#rd_deminfo,#rd_reclam,#rd_satis,#rd_pub,#rd_autre
{
    margin-left: 330px;
    margin-top: 20px;
 }

input:valid, :not(input[type="submit"]) {
    color: green;
}
input:invalid {
    color: red;
}


@media screen and (max-width:576px){

    label{
      width:50%;
      font-size:medium; 
      justify-content: center;
      padding:0;
      margin-left:0.5%;
    }
    form{
        justify-content: center;
        width:100%;
        margin:0;
        padding:0;
    }
    legend{
        font-size:medium;
        width:100%;
        justify-content:center;
        margin:0;
        padding:0;
    }
    #titre{
    font-size:medium;
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    flex-direction: column; /* Les éléments sont empilés */
    align-items: center; /* Les éléments portés sont centrés à la verticale */
    text-decoration: underline;
    color: #1C1199;
    margin-top:0;
    margin-left:0;
    }
    
    #contact h1
{
    text-align: center;
    font-size: large;
    background-color: bisque;
}

#contact span{
    margin-left:0.5%; 
}
input[type=text],textarea{
    width: 90%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    width: 95%;
    margin-left: 0.5%;

}
input[type=email]
{
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 6px;
    padding: 12px;
    margin-left: 0.5%;
}
input[type=radio]
{
    border: 1px solid #ccc;
    width: 90%;
    border-radius: 6px;
    padding: 12px;
    margin-left: 0.5%;
    
}

input[type=date]
{
    margin-left:0.5%;
    border: 1px solid #ccc;
    width: 10%;
    border-radius: 6px;
    padding: 12px;
    
}

#btn_envoyer
{
    font-size: 20px;
    height: 50px;
    background-color:cadetblue;
    border-bottom-color: aliceblue;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: Montserrat;
    padding: 12px;   
    color: aliceblue;
    margin-left: 250px;
    
}
}
